<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
    <div class="card-body">
      <% if @user.image? %>  
       <%= image_tag @user.image.url, :size => '180' %>
      <% else %>
       ＊ここにユーザー画像を表示できます。
      <% end %>
    </div>
  </div>
  <% if logged_in? %>
    <% if current_user == @user %>
      <%= link_to 'ユーザー情報を編集', edit_user_path(@user), class: 'btn btn-outline-success btn-sm btn-block' %>
      <%= link_to 'ユーザー情報を削除', @user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-outline-danger btn-sm btn-block'  %>
    <% end %>
  <% end %>
  </aside>
  <div class="col-sm-8">
      <h2>いいね！したスマートフォン</h2>
  <ul class="list-unstyled">
    <% @devices.each do |device| %>
      <li class="fav_list">
        <%= link_to(device) do %>
        <div class="d-flex align-items-center">
          <%= image_tag device.image.url, :size => '50x80' %>
          <div class="device_name"><%= device.name %></div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'TopPage:スマートフォン一覧へ', root_url %>
  </div>
</div>
