
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Mobilelist</h1>
  </div>
</div>
<h1>いいね！ランキング</h1>
<ul class="list-unstyled">
  <li>
    <h2>No.1</h2>
    <%=  %>
  </li>
</ul>

<h1>機種一覧</h1>
<% if admin_user? %>
  <%= link_to '管理者用新規登録ボタン', new_device_path %>
<% end %>

<div>
  <ul class="list-unstyled">
    <% @devices.each do |device| %>
      <li>
        
      <% if device.image? %>  
       <%= image_tag device.image.url, :size => '75x125' %>
      <% else %>
       <image src="/assets/default.png" class="rounded img-fluid" alt="端末画像" >
      <% end %>
      
        <p><%= link_to device.name, device %></p>
        <div><%= device.name %></div>
      </li>
      <% end %>
  </ul>
</div>