
<div class="ranking-wrapper">
  <h1>いいね！ランキング</h1>
  <ul class="list-unstyled ranking">
    <% @ranking.each.with_index(1) do |device, i| %>
      <li class="ranker">
        <div class="number">No.<%= i %></div>
      <%= link_to(device) do %>
        <% if device.image? %>  
         <%= image_tag device.image.url, :size => '150x200' %>
        <% else %>
         <image src="/assets/default.png" class="rounded img-fluid" alt="NoImage" >
        <% end %>
        <div class="device_name"><%= device.name %></div>
      <% end %>
        <div>いいね！ <%= device.liked.count %>pt</div>
      </li>  
    <% end %>
  </ul>
</div>

<div>
  <h1>機種一覧</h1>
</div>

  <ul class="list-unstyled ranking">
    <% @devices.each do |device| %>
      <li class="ranker">
        <%= link_to(device) do %> 
          <% if device.image? %>
           <%= image_tag device.image.url, :size => '75x100' %>
          <% else %>
           <image src="/assets/default.png" class="rounded img-fluid" alt="端末画像" >
          <% end %>
          <div class="device_name"><%= device.name %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate @devices %>
  
<% if admin_user? %>
  <%= link_to '新規登録ボタン', new_device_path, class: 'btn btn-secondary btn-sm' %>
<% end %>