口コミを作成する

<%= form_with(model: @review, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
 
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
    <%= f.hidden_field :device_id, :value => params[:id] %>
  </div>
  <%= f.submit '口コミを投稿する', class: 'btn btn-primary btn-block' %>
<% end %>