<header>
  <div class="header-wrapper">
     
    <div class="header-logo">
      <a><%= link_to 'Mobile List', root_path %></a>
      
      <button type="button" class="headC">
        <span class="fa fa-bars" title="menu"></span>
      </button>
    </div>
    
    <nav class="headB">
      <ul>
        <% if logged_in? %>
          <a><%= link_to current_user.name, user_path(current_user) %></a>
          <a><%= link_to 'Logout', logout_path, method: :delete %></a>
        <% else %>
          <a><%= link_to 'signup', signup_path %></a>
          <a><%= link_to 'Login', login_path %></a>
        <% end %>
      </ul>
    </nav>

  </div>
</header>